@import url("/css/all.min.css");
html,
body {
  height: 100%;
  color:azure;
  font-size: 40px;
  font-family: Verdana, sans-serif;
  border: 1px solid #ffffff40;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.hero {
  color:rgb(42, 109, 109);
  font-size: 0.8em;
  opacity: 0.4;
  position: fixed;
  padding-left:12rem;
  padding-top:6rem;
}

.main {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url("/img/background-1024x585.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* align-items: center; */
}

.stack-item {
  /* border: 2px solid #ffffff40; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  font-size: 0.5em;
  height: 3em;
  display: flex;
  align-items: center;
}
.left, .middle, .right {
  flex: 1;
}
.left {
  text-align: left;
  padding-left: 5rem;;
}
.middle {
  text-align: center;
}
.middle a {
  text-decoration: none;
  color: inherit;
}
.right {
  font-size: 0.7em;
  text-align: right;
  padding-right: 5rem;
}
.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
}

.nav {
  font-size: 0.5em;
  height: 6em;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
}
.content {
  font-size: 0.5em;
  flex-grow: 1;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
.card {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 260px;
  width: 20%;
  border-radius: 10px;
  
  transition: 0.3s all ease-in-out;
  border: 1px solid rgb(73, 88, 101);
}

.card > div {
  padding: 30px 15px;
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.card .icon {
  color: #ffffff;
  font-size: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 0px 12px -4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card .text {
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  text-align: center;
}


.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #29c1f4;
}

.card:hover .text {
  background-image: radial-gradient(#96e1fa, #2ac1f4);
  color: #000000;
}

.plug {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 260px;
  border-radius: 10px;
  width: 20%;
  transition: 0.3s all ease-in-out;
  border: 1px solid rgb(73, 88, 101);
}

.plug > div {
  padding: 30px 15px;
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.plug .icon {
  color: #ffffff;
  font-size: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 0px 12px -4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.plug .text {
  font-size: 16px;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
}

.message {
  font-size: 30px;
}


.card-info {
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 220px;
  border-radius: 10px;
  
  transition: 0.3s all ease-in-out;
  border: 1px solid rgb(73, 88, 101);
  background-color: #9b9d9f;
  opacity: 0.8;
  
}

.card-info > div {
  transition: 0.3s all ease-in-out;
  display: flex;
  /* opacity: 0.7; */
}

.card-info .icon {
  color: #ffffff;
  font-size: 35px;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  z-index: 1;
}

.card-info .container {
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height:10em;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button {
  margin-left: 10px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  border-radius: 10px;
  
  transition: 0.3s all ease-in-out;
  border: 1px solid rgb(73, 88, 101);
  background-color: #29c1f4;
  opacity: 0.8;
  
}

.card-button > div {
  transition: 0.3s all ease-in-out;
  display: flex;
  /* opacity: 0.7; */
}

.card-button .icon {
  color: #ffffff;
  font-size: 35px;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  z-index: 1;
}

.card-button .container {
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height:10em;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text {
  font-size: 2em;;
}

.card-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #29c1f4;
}

.card-button:hover .container {
  background-image: radial-gradient(#96e1fa, #2ac1f4);
  color: #000000;
  
}

.charging {
  font-size: 0.5em;
  flex-grow: 1;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.charging-box {
  /* border: 1px solid rgb(8, 197, 197) ; */
  height: 80%;
  width:auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
}
.charging-box-small {
  /* border: 1px solid rgb(8, 197, 197) ; */
  height: 80%;
  width: 15em;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charging-box-small ul li {
  text-align: left;
  font-size: 0.8em;
}
.charging-box-command  {
  /* border: 1px solid rgb(8, 197, 197) ; */
  height: 80%;
  width: 15em;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding-top: 1.5em;
}
.charging-box-command-button {
  opacity: 0.8;
  border: 1px solid azure;
  height: 35%;
  width : 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;;
}
.charging-box-command-button:hover {
  background-color: #29c1f4 ;
  color: #000000;
  cursor: pointer;
}

.charging-box-alert-button {
  opacity: 0.8;
  border: 1px solid rgb(233, 91, 70);
  height: 35%;
  width : 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(245, 71, 71);
  cursor: pointer;
}

.battery {
  border: 3px solid #fbf7f7;
  height: 10em;
  width: 5em;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  margin: 15px 0;
}
.battery:before {
  content: "";
  height: 10px;
  width: 5em;
  background: #fbf7f7;
  display: block;
  position: absolute;
  top: -10px;
  border-radius: 4px 4px 0 0;
}
.battery:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.battery-level {
  background: #30b455;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height:25%;
  opacity: 0.8;
}

.current-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.current-status-box {
  width: 45%;
  height: 10em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ddd; */
}

.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 4px solid rgb(7, 163, 163);
  margin:0px;
}
.inner-text{
  margin:0;
}